@using ShoppingCartOnline.Models
@model ItemGioHang

@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@{
    List<ItemGioHang> lstGioHang = ViewBag.GioHang as List<ItemGioHang>;
}

<div style="float: right">
    <table class="table">
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td>Số lượng</td>
            <td>Hình ảnh</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
        </tr>

        @foreach (var item in lstGioHang)
        {
            //Sản phẩm có mã sản phẩm được chỉnh sửa gửi từ tham số từ trang xem giỏ hàng
            if (Model.MaSP == item.MaSP)
            {
                using (Html.BeginForm("CapNhatGioHang", "GioHang", FormMethod.Post))
                {
                    <tr>
                        <td>@item.MaSP @Html.Hidden("MaSP", item.MaSP)</td>
                        <td>@item.TenSP</td>
                        <td>@Html.TextBox("SoLuong", item.SoLuong, new {@class="SoLuongThayDoi" })
                            <span id="TB_SoLuongThayDoi"></span>
                        </td>
                        <td><img src="@Url.Content("~/Content/images/SanPham/" + item.HinhAnh)" width="150" height="150" /></td>
                        <td>@item.DonGia.ToString("#,##") Đồng</td>
                        <td>@item.ThanhTien.ToString("#,##") Đồng</td>
                        <td><input type="submit" value="Cập nhật" id="btnCapNhatGH" /></td>
                        <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td>@item.SoLuong</td>
                    <td><img src="@Url.Content("~/Content/images/SanPham/" + item.HinhAnh)" width="150" height="150" /></td>
                    <td>@item.DonGia.ToString("#,##") Đồng</td>
                    <td>@item.ThanhTien.ToString("#,##") Đồng</td>
                    <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })</td>
                    <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })</td>
                </tr>
            }
        }
    </table>
</div>

<script>
    $("#btnCapNhatGH").click(function () {
        //Kiểm tra số lượng không phải là số hoặc nhỏ hơn 0
        var SoLuong = $(".SoLuongThayDoi").val();
        if (isNaN(SoLuong) == true || SoLuong < 0) {
            $("#TB_SoLuongThayDoi").text("Số lượng không hợp lệ")
            return false;
        }
    });
</script>